.AlternativeCharacterPage {
    background-color: var(--jnj-color-bg);

    .SkillsAndFlawsPanelOverride {
        background-color: var(--jnj-color-bg-sunken);
    }

    .SkillsOverride {
        border-style: none;
        border-width: 0px;
        border-radius: 1px;
        background-color: var(--jnj-color-arcane);
    }

    .FlawsOverride {
        border-style: none;
        border-width: 0px;
        border-radius: 1px;
        background-color: var(--jnj-color-ember);
    }
}
