.CampaignCard {
    border-width: 2px;
    border-radius: 10px;
    width: calc(30vw);
    height: 120px;
    border-style: hidden;
    font-weight: bold;
    font-size: 36px;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background: rgba(161, 244, 255, 0.541);

    &:hover {
        background: rgba(123, 186, 194, 0.541);
        color: cyan;
    }
}

.CampaignPage {
    width: 100vw;
    height: 90vh;
}

.Campaign-shift-up {
    position: relative;
    top: -17px;
}

.CampaignCard-small-text {
    font-size: 24px;
    font-weight: 100;
}

.Campaigns-title {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: center;
    align-content: center;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 1px;
    padding-bottom: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 30px;
    border: 0px;
    border-bottom: 2px;
    border-color: white;
    border-style: solid;
}

.Campaigns-new-player-div {
    width: 40vw;
    height: 200px;
    top: 20vh;
    left: 30vw;
    background-color: rgb(0, 109, 42);
    border-radius: 20px;
    position: fixed;
}

.Campaign-new-player-input {
    font-size: 24px;
}

.Campaign-new-player-button {
    font-size: 24px;
    background-color: rgb(153, 94, 94);
    color: white;
    border-color: white;
    
    &:hover {
        background-color: #3a1e1e;
        color: wheat;
        border-color: wheat;
    }
}