.CharacterPage {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;

    .CharacterPage-stats {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: 10px;
        border-color: white;
        border-radius: 20px;
        border-width: 5px;
        border-style: hidden;
        background: rgba(0, 0, 0, 0.3);
        height:190px;
        font-size: 24px;

        .CharacterPage-stats-horizontal {
            display: flex;
            justify-content: center; 
            height: 140px;
        }

        .CharacterPage-stats-block-shield {
            display: block;
            width: 150px;
            font-size: inherit;
            padding-top: 5px;                       
        }
        
        .CharacterPage-stats-block-hp {
            display: flex;
            width: 300px;
            font-size: inherit;
            padding-top: 30px;

            .CharacterPage-hp-block {
                width: 100px;
            }

            .CharacterPage-hp-stat {
                background-color: inherit;
                width: 60px;
                height: 30px;
                justify-items: center;
                text-align: center;
                border: none;
                border-color: white;
                border-radius: 8px;
                color: white;
                font-size: inherit;
                padding: 0;
            }

            .CharaterPage-hp-divider {
                margin-top: 10px;
            }
        }
    }

    .CharacterPage-shield {
        height: 100px;
        filter: sepia(1) saturate(8) hue-rotate(120deg);
    }

    .CharacterPage-shield-text {
        position: relative;
        top: -80px;
        font-size: 36px;
    }

    .CharacterPage-xp-and-hardness-stat {
        padding-top: 4px;
        background-color: inherit;
        width: 50px;
        padding: 0;
        height: 30px;
        justify-items: center;
        text-align: center;
        border: none;
        border-color: white;
        border-radius: 8px;
        color: white;
        font-size: inherit;
    }

    .CharacterPage-xp {
        padding-top: 40px;
        
    }

    .CharacterPage-xp-slash {
        position: relative;
        top: -34px;
        left: 95px;
        width: 10px;
    }

    .CharacterPage-stats-xp {
        padding-top: 10px;
        width: 170px;
        padding-left: 30px;
    }

    .CharacterPage-stats-hardness {
        padding-top: 10px;
        width: 190px;
    }

    .CharacterPage-stats-divider {
        width: 110px;
    }

    .CharacterPage-stats-temp-hp-yellow {
        border-color: yellow;
    }

    .CharacterPage-abiltyscore-horzontal {
        margin: 10px;
        height: 190px;
        width: 400px;
        display: flex;
        flex-direction: row;
        border-color: white;
        border-radius: 20px;
        border-width: 5px;
        border-style: hidden;
        justify-content: center;
        padding: 0px 10px;
        background: rgba(0, 0, 0, 0.3);
    }

    .CharacterPage-abilityscore-icon {
        height: 50px;
        margin-top: 15px;
        filter: invert(1) sepia(1);
    }

    .CharacterPage-abiltyscore-block {
        font-size: 24px;
        padding: 0px 20px;
    }

    .CharacterPage-abilityscore-stat {
        background-color: inherit;
        width: 60px;
        height: 30px;
        justify-items: center;
        text-align: center;
        border: none;
        border-color: white;
        border-radius: 8px;
        color: white;
        font-size: inherit;
        padding: 0;
        margin-top: 20px;
    }

    .CharacterPage-navigation {
        display: flex;
        align-items: center;
        width: 100vw;
        height: 100px;
        background-color: rgb(82, 28, 180);

    }

    .CharacterPage-navigation-color-picker-button {
        width: 100px;
        height: 60px;
        border-color: rgba(0, 0, 0, 0);
        border-radius: 5px;
        border-style: solid;
        margin-left: 20px;
        margin-right: 20px;
        background: rgba(0, 0, 0, 0.3);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            border-color: white;
        }
    }

    .CharacterPage-colorpicker {
        width: 50px;
        filter: invert(1) sepia(1);
    }

    .CharacterPage-colorpicker-panel {
        position: absolute;
        z-index: 1;
        top: 180px;
        background-color: rgba(198, 239, 255, 0.514);
        margin: 20px;
        border-radius: 10px;
    }
    
    .CharacterPage-colorpicker-actual {
        padding: 10px;
    }

    .CharacterPage-colorpicker-select-button {
        background-color: rgba(128, 128, 128, 0.363);
        margin: 5px;
        border-radius: 10px;
        width: 200px;
        border-style: none;

        &:hover {
            background-color: rgba(61, 61, 61, 0.363);
        }
    }
}

@media (prefers-reduced-motion: no-preference) {
    .CharacterPage-loading-icon {
        height: 300px;
        filter: invert(1);
        animation: App-logo-spin infinite 20s linear;
    }
}