.Navigation {
    align-items: left;
    justify-content: left;
}

.Navigation-button {
    background-color: #000000;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: calc(6vh - calc(10px + 2vmin));
    padding-bottom: calc(6vh - calc(10px + 2vmin));
    color: #61dafb;
    font-size: calc(10px + 2vmin);
    transition-duration: 0.4s;
    text-decoration: none;
    border-style: none;

    &:hover {
        background-color: #9c9c9c;
        color: #9be9ff;
    }
}

.Navigation-user-icon {
    border-radius: calc(10px + 2vmin);
    border-color: white;
    border-style: solid;
    border-width: 3px;
    margin-left: 10px;
    height: calc(10px + 2vmin);
}

.Navigation-new-player {
    z-index: 1;
    position: absolute;
    width: 40vw;
    height: 300px;
    background-color: #492100;
    border-radius: 10px;
    top: 15vh;
    left: 30vw;
}

.Navigation-new-player-input {
    font-size: 24px;
}

.Navigation-new-player-button {
    font-size: 24px;
    background-color: rgb(153, 94, 94);
    color: white;
    border-color: white;
    
    &:hover {
        background-color: #3a1e1e;
        color: wheat;
        border-color: wheat;
    }
}