.NewCharacterPage {
    width: 100vw;
    height: 90vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NewCharacterPage-input {
    font-size: 24px;
}

.NewCharacterPage-input-box {
    font-size: 18px;
    position: relative;
    bottom: 2px;
    margin-left: 10px;
}

.NewCharacterPage-add-player-button {
    margin-left: 10px;
    position: relative;
    font-size: 16px;
    top: -3px;
}

.NewCharacterPage-actions {
    width: 70vw;
}

.NewCharacterPage-submit-button {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    background-color: rgba(0, 0, 0, 0);
    color: white;

    &:hover {
        background-color: white;
        color: #282c34;
    }
}