.PostColumn-default {
    background: var(--jnj-color-bg-sunken);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: calc(100% - max(10%, 40px));

    &.isDraggingOver {
        background-color: var(--jnj-color-bg-hover);
    }
}

.PostColumn-header-default {
    color: var(--jnj-color-text);
    font-weight: bold;
    font-size: 30px;
    height: calc(max(10%, 40px));
}

.PostColumn-body-default {
    padding-top: 8px;
    padding-bottom: 16px;
    background: var(--jnj-color-bg-sunken);
}

.PostCardTitle-default {
    font-size: 20px;
    color: var(--jnj-color-text);
    font-weight: bold;
}

.PostCardContent-default {
    font-size: 16px;
    color: var(--jnj-color-text-muted);
}

.PostCardBox-default {
    background: var(--jnj-color-bg-raised);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 10px;

    &.isDragging {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    }

    &:hover {
        background: var(--jnj-color-bg-hover);
    }
}
