.SkillsAndFlaws, .SkillsAndFlaws-preview {
    display: flex;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 18vw;
    height: max-content;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
    font-size: 24px;
    background-color: gray;
    color: white;
}

.SkillsAndFlaws-preview {
    width: 16vw;

    &:hover {
        filter: none;
    }
}

.SkillsAndFlaws-skill {
    border-color: aqua;
}

.SkillsAndFlaws-flaw {
    border-color: red;
}

.SkillsAndFlaws-star {
    filter: invert(1);
}

.SkillsAndFlaws-inner-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 16vw;
}

.SkillsAndFlaws-trigger {
    display: flex;
    justify-content: space-between;
}

.SkillsAndFlaws-button {
    width: 8vw;
    height: 3vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    background-color: rgb(44, 44, 44);
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    color: white;

    &:hover {
        background-color: rgb(105, 105, 105);
    }
}

.SkillsAndFlaws-trash-button {
    border-color: red;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    background-color: silver;
    &:hover {
        background-color: red;
        border-color: silver;

        .SkillsAndFlaws-trash-can {
            filter: invert(70%);
        }
    }
}

.SkillsAndFlaws-trash-can {
    filter: invert(14%) sepia(100%) saturate(10000%) hue-rotate(0deg);
}

.SkillsAndFlaws-remove-skill-flaw-confirm {
    position: absolute;
    left: 30vw;
    width: 40vw;
    top: 20vh;
    background-color: rgb(0, 0, 85);
    padding-top: 30px;
    padding-bottom: 30px;
    z-index: 1;
    border-radius: 25px;
    border-style: none;
}

.SkillsAndFlaws-button-container {
    position: relative;
    width: 20vw;
    align-items: center;
    height: 3vh;
}